<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>962157934364-3u09g68fqe0mtan3jslur4l0l68kl9qr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.962157934364-3u09g68fqe0mtan3jslur4l0l68kl9qr</string>
	<key>API_KEY</key>
	<string>AIzaSyD4_DMWYlthf_0pb1FxDc6aFc4QOG_kxTA</string>
	<key>GCM_SENDER_ID</key>
	<string>962157934364</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.monash.gunther</string>
	<key>PROJECT_ID</key>
	<string>gunther-40c59</string>
	<key>STORAGE_BUCKET</key>
	<string>gunther-40c59.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:962157934364:ios:5d5e73e4e1b187191cacd9</string>
</dict>
</plist>